langchain-community
dotenv
langchain
langchain-google-genai
langchain-text-splitters
pypdf
chromadb
sentence-transformers
prototype
langchain-google-community
langchain-google-community[gmail]
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
langchain-brightdata
langgraph
google-search-results
streamlit
streamlit-chat
secure-smtplib
python-dotenv
typing-extensions
pydantic
numpy
pandas
requests